body{
    margin-top: 0;
}

.search-form{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 40px;
background-color: #02027e;
text-align: center;
padding-bottom: 5px;
position: fixed;
z-index: 1000;
}

.search-form-input{
    height: 25px;
    border: none;
    width: 250px;
}

.search-form-button{
    background-image: url(../images/magnifying-glass.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    padding: 0;
    background-color: rgb(224, 220, 220);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-card{
flex: 0 0 24%;
margin: 5px;
box-shadow: 1px 1px 1px 1px rgba(138, 137, 137, 0.425);
}

img{
display: block;
width: 315px;
height: 200px;
margin: auto;
}

.info{
    display: flex;
    justify-content: space-around;
}

.info-item{
    flex: 0 0 10%;
    text-align: center;
}

b{
    font-weight: 400;
    font-size: 14px;
}

.card-description{
    font-weight: 800;
    font-size: 14px;
}

.load-more{
    display: block;
    background-color: #02027e;
    color: #fff;
    padding: 10px 5px;
    text-transform: uppercase;
    margin: auto;
}

.is-hidden{
    display: none;
}
